.header{
    font-size: x-large;
    width: auto;
    text-align:center;
    background-color: rgb(12, 11, 11);
    color: rgb(136, 30, 30);
    padding: 7px;
}

.link{
    background-color: rgb(167, 116, 116);
    padding: 3px;
}
.link a{
    font-size:x-large;
    margin-left: 1%;
    background-color: rgb(228, 128, 128);
    border-radius: 3px;
    color: rgb(116, 49, 49);
}

.link a:hover{
    color: seashell;
    background-color: black;
}
.alpha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}