header{
    font-size: x-large;
    width: auto;
    text-align:center;
    background-color: rgb(12, 11, 11);
    color: rgb(136, 30, 30);
    padding: 7px;
    box-sizing: content-box;
}

select {
    background-color:rgb(102, 21, 21, 0.699); 
    color:rgb(0, 0, 0);
    }
body{
        margin: 0;
        background-color:rgba(85, 25, 25, 0.753);
        }

input[type=text]
    {
        background-color: rgba(102, 21, 21, 0.699);
    }
input[type=submit]
    {
        background-color: rgb(112, 20, 20);
    }
textarea{
        background-color: rgb(112, 20, 20);
        color: antiquewhite;
    }
select:focus{
    border: 1cm;
}
h1{
    margin:0;
}
p{
    margin: 0;
}
h2{
    margin: 0;
}

.fact{
    margin: 1%;
}

.pic-entete{
    float: left;
    vertical-align: middle;
    margin-top: auto;
}